@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Light.otf") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #25274d;
    font-family: 'Inter', Arial;
}

header div{
    margin-left: 15%;
    color: #AAABB8;  
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    float: left; 
}

table{
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin-top: 2%;
}

tr {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    }

.main_list {
    margin-bottom: 10px;
}    

.main_list img{
    transform: scale(0.3);
}

.main_menu hr{
    background: #25274d;
    height: 2px;
    border:#25274d;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}


.main_menu {
    width: 13%;
    background: rgba(70, 72, 102, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profil img{
    transform: scale(100%);
    margin-left: 17%;
    margin-top: 15%;
    border-radius:50%;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.profil h3{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #D9D9D9;
    margin-left: 17%;
    margin-right: 10%;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.menu_list ul{
    list-style-type: none;
    margin-top: 10%;
    padding-left:0px;
}

.menu_list li{
    margin-top: 5%;
}

.menu_list a{
    color: #D9D9D9;
    text-decoration: none;
    opacity: 0.7;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 5px;
    padding-left: 17%;
}

.menu_list a:hover{
    background-color: #464866;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.settings_in_list ul{
    list-style-type: none;
    padding-left: 0;
}

.settings_in_list a{
    color: #D9D9D9;
    text-decoration: none;
    opacity: 0.7;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    display: block;
    padding: 5px;
    padding-left: 17%;
}

.settings_in_list a:hover{
    background-color: #464866;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content {
    overflow: hidden;
    width: 90%;
    height: 100%;
    margin-left: 15%;
    color: #AAABB8;  
}

.content img{
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    width: 90%;
}

.content_list{
    margin-top: 2%;
}

.end p {
    color: #AAABB8;   
    bottom: 0;
    text-align: center;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}